<h1>Users Index</h1>

<% @users.each do |user| %>
  <%= user.username %>
  <%= user.articles.length %>
  <%= link_to 'Show', user %>
  <% if logged_in? && user == current_user %>
    <%= link_to 'Edit', edit_user_path(user) %>
  <% end %>
  <br />
<% end %>